<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}">
        <a class="nav-link" routerLink="/"> <b>Meanapp</b> <span class="sr-only">(current)</span></a>
      </li>
      <li  *ngIf="isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/blog">Blog</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="!isUserLoggedIn" class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
