<div class="container mt-7">
    <div class="row">
        <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
            </div>
            <div class="row user-detail mt-6">
                <div class="col-lg-12 col-sm-12 col-12">
                    <img src="/assets/img/ninja.jpg" class="img-thumbnail mb-4">
                    <h5 *ngIf="user !== undefined">{{user.username}}</h5>
                    <p *ngIf="user !== undefined"><i class="fas fa-at"></i> {{user.email}}</p>

                    <hr>
                    <a href="#" class="btn btn-primary btn-md">Change photo</a>
                </div>
            </div>
        </div>
    </div>
</div>
