<div class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{comment.title}}</h5>
    <small class="text-muted">{{comment.date| date : format : short}}</small>
  </div>
  <p class="mb-1">{{comment.body}}</p>
  <p class="text-muted"><b>Username</b> {{comment.authorName}}</p>
  <hr>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-thumbs-up"></i> 3 </button>

    <div class="btn-group dropup">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
      </div>
    </div>

    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-thumbs-down"></i> 5 </button>

    <div class="btn-group dropup">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
      </div>
    </div>

  </div>
</div>
