<div class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">List group item heading</h5>
    <small class="text-muted">3 days ago</small>
  </div>
  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
  <p class="text-muted"><b>Username</b> Ola</p>
  <hr>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-thumbs-up"></i> 3 </button>

    <div class="btn-group dropup">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <button type="button" class="btn btn-outline-secondary"><i class="fas fa-thumbs-down"></i> 5 </button>

    <div class="btn-group dropup">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

    <button type="button" class="btn btn-outline-secondary"><i class="far fa-comment"></i> 2
    </button>
  </div>
</div>
