<div>
    <div *ngIf="alertErr" class="alert alert-danger" role="alert">
        {{alertErr}}
    </div>
    <form [formGroup] = "commentForm" (submit)="onFormSubmit()">
        <div class="form-group">
            <label for="content">Comment content</label>
            <textarea class="form-control" [ngClass]="{'is-invalid': commentForm.controls.content.errors && commentForm.controls.content.dirty, 'is-valid': commentForm.controls.content.dirty && !commentForm.controls.content.errors}" id="content" rows="3" formControlName="content"></textarea>
            <ul class="valid-feedback">
                <li>Look's good!</li>
            </ul>
            <ul *ngIf="commentForm.controls.content.errors" class="invalid-feedback">
                <li *ngIf="commentForm.controls.content.errors.required">Content is required</li>
                <li *ngIf="commentForm.controls.content.errors.minlength">Length should be more then 5 symbols</li>
                <li *ngIf="commentForm.controls.content.errors.maxlength">Invalid lenght</li>
            </ul>
        </div>
        <button class="btn btn-outline-secondary">Post a comment</button>
    </form>
</div>
<hr>
